@page "~/sobre"
@model MyRazorApp.Pages.AboutModel
@{
    // Layout = null;
    ViewData["Title"] = "Sobre!";
}



@* <!DOCTYpe html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <partial name="Shared/NavMenuPartial" /> *@
            
            <h1>Sobre</h1>

            @section scripts {
                <script src="~/js/site.js"></script>
            }

        @* </div>
    </body>
</html>
 *@


