@page "~/entrar"
@model MyRazorApp.Pages.LoginModel
@{
    ViewData["Title"] = "Entrar!";
}
@* @{
    Layout = "Shared/_LayoutLogin";
} *@


@* <!DOCTYpe html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <partial name="Shared/NavMenuPartial" /> *@

        <h1>Login</h1>
    
    
   @*  </div>

</body>
</html> *@



